/* ------------------------ Max 600px ------------------------ */


/* ------------------------ Forside ------------------------ */
/* Jeg er godt klar over at der er gaps i mit grid her på forsiden når man loader 1. gang. Hvis man 
lige hiver hurtigt i vinduet burde grafikken lægge sig som den skal i griddet. Har ikke kunne nå at 
finde en ordentlig løsning desværre.
/* --------------- Grid_1-1 --------------- */

.grid_1-1 {
    display: grid;
    grid-template-columns: 0.7fr 10fr 0.7fr;
}


/* Tekst i siderne */

.grid_1-1 p {
    font-family: "Work Sans", sans-serif;
    font-size: 50%;
    letter-spacing: 3px;
    margin-bottom: 0;
    font-weight: 400;
    color: #3d3d3d;
    text-transform: uppercase;
}

.col_1-1 {
    writing-mode: vertical-rl;
    display: grid;
    justify-items: center;
    transform: rotate(-180deg); 
    padding: 1rem;
}

.col_1-3 {
    writing-mode: vertical-lr;
    display: grid;
    justify-items: center;
    padding: 1rem;

}

 

/* Grafik-galleri (MOBILE) i midten*/

.col_1-2_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    align-items: stretch;
    object-fit: cover;


}

.grafik_1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;


}

.grafik_2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 4;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_3 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 4;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_4 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 2;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_5 {
    grid-column: 1 / span 1;
    grid-row: 8 / span 4;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_6 {
    grid-column: 2 / span 1;
    grid-row: 7 / span 4;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}


.col_1-2_desktop {
    display: none;
}







/* ------------------------ Min 900px ------------------------ */


@media (min-width: 900px) {


/* Tekst i siderne */
.col_1-1, .col_1-3 {
    align-items: center;
}

.grid_1-1 p {
font-size: 65%;
}





/* Grafik-galleri (DESKTOP) i midten*/

.col_1-2_desktop {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: stretch;
    object-fit: cover;

}

.grafik_1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;
}


.grafik_2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 4;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 4;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_4 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 2;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_5 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}

.grafik_6 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 3;
    display: flex;
    align-items: stretch;
    object-fit: cover;
    cursor: pointer;

}



.col_1-2_mobile {
    display: none;
}


}