/* ---------------------- Helt generelt ---------------------- */


*{

  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}


img {
  max-width: 100%;
}


/* ---------------------- Header ---------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 6%;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 80px
  }

  .nav-links {
    display: flex;
    gap: 2rem;
   list-style: none;
   margin-top: 1.5rem;
  }
  
  li, a {
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }


  
/* ---------------------- Hover-effekt på menu ---------------------- */

  nav a.webdesign:hover {
    color: #BC6F27;
  }

  nav a.ux:hover {
    color: #BAB5A8;
  }

  nav a.animation:hover {
    color: #B6D1DA;
  }
    
  nav a.redesign:hover {
    color: #D9B254;
  }

  nav a.portfolio:hover{
    color: #AA410A;
  }

  nav a.millemarie:hover{
    color: #534F49;
  }


  



/* ---------------------- Burger menu ---------------------- */

.toggle-btn:hover {
  color: #d0d0d0;
}

.toggle-btn {
  background: transparent;
  border: none;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 92%;
  font-weight: 500;
  padding-top: 2rem;
color: black;
  display: none;


}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
    text-align: right;
  }

  .main-menu .nav-links {
    display: none;
  }

  .main-menu.shown .nav-links {
    border-top: 2px solid #000000;
    margin-top: 5%;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}



/* ---------------------- Text styling ---------------------- */

h1 {
  font-size: 200%;

  text-decoration: none;
  color: rgb(19, 19, 19);
  font-family: 'DM Serif Display', serif;

  margin-bottom: 1rem;

}

h2 {
  font-size: 130%;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}


h3 {
  font-size: 90%;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 220%;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2%;
  text-align: center;
}


p {
  font-size: 70%;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 2rem;
  letter-spacing: 0.01rem;
}

small{
  font-size: 70%;
  font-weight: 300;
  text-decoration: none;
  color: black;
  font-family: 'Work Sans', sans-serif;

}

button { 

  font-weight: 500;
  text-decoration: none;
  color: white;
  border: none;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 62%;
  padding-inline: 2rem;
  padding-block: 0.4rem;
}
  


  /* ---------------------- Footer ---------------------- */


footer {
  height: 3rem;
}

footer p{
 
  font-family: "Work Sans", sans-serif;
  font-size: 70%;
 
  letter-spacing: 3px;
  margin-bottom: 0;
  font-weight: 600;
  color: #3d3d3d;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;

}
















/* ------------------------ Min 600px ------------------------ */
@media (min-width: 600px) {
  

/* ----------------- Header ----------------- */

  li, a {
    font-size: 74%;
  }

}



/* ------------------------ Min 700px ------------------------ */

@media (min-width: 700px) {
  

  /* ----------------- Header ----------------- */
  
    li, a {
      font-size: 85%;
    }

    /* ----------------- Tekst-styling ----------------- */

    button { 
      font-size: 50%;
    }

  }





  /* ------------------------ Min 900px ------------------------ */

  @media (min-width: 900px) {
  

    /* ----------------- Header ----------------- */
    
      li, a {
        font-size: 90%;
      }
    
      header {
        margin-top: 1rem;
      }

      .logo {
        width: 90px
      }

 /* ----------------- Tekst-styling ----------------- */

 h1 {
  margin-bottom: 2rem;
  font-size: 600%;
 }

 h2 {
  font-size: 140%;
 }
 h3 {
  font-size: 106%;
 }

 h4 {
  font-size: 350%;
 }

p {
  font-size: 80%;
}

      


button { 
  font-size: 65%;
}

  }




 