/* ------------------------ Max 600px ------------------------ */


.redesign_banner {
    background-color: #D9B254;
    height: 25px;
    margin-bottom: 3rem;
}

button {
    background-color: #D9B254;
}

/* ------------------------ Redesign ------------------------ */
/* --------------- Grid_5-1 --------------- */

.grid_5-1 img {
border: #f0f0f0 solid 2px;

}

.grid_5-1 {
    margin-bottom: 5rem;
}

/* --------------- Grid_5-2 --------------- */
.grid_5-2 {
    margin-bottom: 2rem;
    text-align: center;
    margin-inline: 1rem;
}

.grid_5-2 img {
    width: 30%;
    }

    .research {
text-align: center;
margin-top: 2rem;
font-family: 'DM Serif Display', serif;
text-transform: none;

    }

    .grid_5-2 button {
        margin-top: 1rem;
        margin-bottom: 3rem;
        }

   .col_5-3 {
    /* background-color: rgb(164, 184, 204); */
    padding-inline: 1rem;
    padding-block: 2rem;
    margin-bottom: 1rem;
}     

.col_5-4 {
    /* background-color: rgb(159, 77, 33); */
    padding-inline: 1rem;
    padding-block: 2rem;
    margin-bottom: 1rem;

} 

.col_5-5 {
    /* background-color: rgb(198, 200, 202); */
    padding-inline: 1rem;
    padding-block: 2rem;
    margin-bottom: 1rem;

} 

/* --------------- Grid_5-3 --------------- */

.grid_5-3{
    background-color: #D9B254;
    
    margin-bottom: 5rem;
    padding-inline: 2rem;
    padding-block: 2rem;
}

.grid_5-3 h2{
 text-transform: none;
 margin-right: 34%;
 font-size: 80%;
 padding-top: 0.5rem;
 color: #BC6F27;
}
.grid_5-3 small{
    text-transform: uppercase;
    font-size: 40%;
    letter-spacing: 2px;
    color: #82440b;
   }

   .grid_5-3 p{
    text-transform: none;
    margin-left: 20%;
    font-size: 50%;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    color: #BC6F27;

   }

   .grid_5-3 button{
    text-transform: none;
    margin-left: 20%;
    font-size: 50%;
    
    background-color: #BC6F27;

   }
   



/* --------------- Grid_5-4 --------------- */





.grid_5-4 h2 {
    font-family: 'DM Serif Display', serif;
    text-transform: none;
text-align: center;
}

.galleri_5_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(23, 1fr);
    gap: 0.2rem;
margin-inline: 1rem;
}


.redesign_galleri_1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    align-self: stretch;
    object-fit: cover;
}

.redesign_galleri_2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    align-self: stretch;
    object-fit: cover;
}

.redesign_galleri_3 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
    align-self: stretch;
    object-fit: cover;
}

.redesign_galleri_4 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 4;
    align-self: stretch;
    object-fit: cover;
}

.redesign_galleri_5 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 4;
    align-self: stretch;
    object-fit: cover;
}


.redesign_galleri_6 {
    grid-column: 2 / span 1;
    grid-row: 8 / span 4;
    align-self: stretch;
    object-fit: cover;
}

.redesign_galleri_7 {
    grid-column: 1 / span 1;
    grid-row: 11 / span 3;
    align-self: stretch;
    object-fit: cover;
}



.redesign_galleri_8 {
    grid-column: 2 / span 1;
    grid-row: 12 / span 9;
    align-self: stretch;
    object-fit: cover;
}

.redesign_galleri_9 {
    grid-column: 1 / span 1;
    grid-row: 14 / span 7;
    align-self: stretch;
    object-fit: cover;
}



.galleri_5_desktop {
    display: none;
}


/* --------------- Grid_5-5 --------------- */


.grid_5-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    margin-top: 8rem;
    }



    .col_5-6 {
        background-color: #efe9dc;
        padding-inline: 1rem;
        padding-block: 2rem;
        display: flex;
        align-items: center;
        }

        .col_5-7 {
            background-color: #9f4d21;
            text-align: right;
            padding-inline: 1rem;
            padding-block: 3rem;
            }

    .col_5-7 h2 {
        color: white;
        font-family: 'DM Serif Display', serif;
        text-transform: none;
font-size: 180%;    
    }      
    
    .col_5-7 p {
        color: white;
        text-transform: none;
font-size: 50%;    
    }   

    .col_5-7 h3 {
        color: white;
        text-transform: none;
font-size: 60%;    
    } 

    .col_5-7 small {
        color: white;
        text-transform: none;
        font-style: italic;
font-size: 50%;    
    } 


/* --------------- Grid_5-6 --------------- */

    .grid_5-6 {
        margin-inline: 2rem;
    }

    .grid_5-6 p{
        text-align: center;   
        font-size: 50%;
     }

     video {
        width: 100%;
        margin-bottom: 0.2rem;
    }











@media (min-width: 500px) {
    /* --------------- Grid_5-2 --------------- */

    .grid_5-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .grid_5-2{
        margin-bottom: 4rem;
    } 
    .grid_5-2 img{
width: 45%;  
margin-bottom: 1rem;
  } 





/* --------------- Grid_5-3 --------------- */

.grid_5-3{
    padding-inline: 3rem;
}

.grid_5-3 h2{
 font-size: 110%;
}

.grid_5-3 small{
    font-size: 57%;
   }

   .grid_5-3 p{
    font-size: 75%;
   }

   .grid_5-3 button{
    font-size: 91%;
   }
   




   .col_5-6 {
    padding-inline: 2rem;
    padding-block: 3rem;
    }

    .col_5-7 {
 
        padding-inline: 2rem;
        padding-block: 4rem;
        align-content: center;
        display: grid;
      }

}



@media (min-width: 700px) {
    .grid_5-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
        }



           .grid_5-3{
            padding-inline: 8rem;
        }
           .grid_5-3 p{
            margin-top: 2rem;
           }

           .grid_5-4 h2 {
                font-size: 210%;
                margin-bottom: 2rem;
           }

           .research {
            font-size: 210%;
            margin-bottom: 2rem;
           }



  .galleri_5_mobile {
    display: none;
  }

  .galleri_5_desktop {
    display: block;
    margin-inline: 7rem;
}



.col_5-7 h2 {
font-size: 275%;    
}      

.col_5-7 p {
    font-size: 64%;
    margin-left: 10%; 
}   

.col_5-7 h3 {
font-size: 72%;    
} 

.col_5-7 small {
font-size: 60%;  
}

.col_5-7 button {
    font-size: 86%;
}





    
  }


  @media (min-width: 1100px) {

  .grid_5-2 {
    margin-inline: 10rem;
    gap: 3rem;
 }



 .grid_5-3{
    padding-inline: 10rem;
}

.grid_5-3 h2{
 font-size: 140%;
}

.grid_5-2 button {
    font-size: 100%;
}

   .grid_5-3 p{
    font-size: 90%;
   }

   .galleri_5_desktop {

    margin-inline: 15rem;
}


.col_5-7 h2 {
    font-size: 400%;    
    }      
    
    .col_5-7 p {
        font-size: 80%;
        margin-left: 10%; 
    }   
    
    .col_5-7 h3 {
    font-size: 90%;    
    } 
    
    .col_5-7 small {
    font-size: 70%;  
    }
    
    .col_5-7 button {
        font-size: 86%;
    }
    
    .grid_5-6 {
        margin-inline: 10rem;
        margin-bottom: 8rem;
    }


   

}