/* ------------------------ Max 600px ------------------------ */

button {
    background-color: #BAB5A8;
}

/* --------------- Grid_3-1 --------------- */
.grid_3-1 {
    margin-bottom: 5rem;
    }  


/* --------------- Grid_3-2 --------------- */
.grid_3-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-inline: 2rem;
   }


    .col_3-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 2rem;
        }

        .col_3-4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            gap: 2rem;
            }
            .col_3-5 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;
                gap: 2rem;
                }       
                
                
    .grid_3-2 img {
        padding-top: 3.5rem;
    }


    .grid_3-2 h3 {
        font-family: 'DM Serif Display', serif;
        text-transform: none;
        margin-bottom: 0;
                
    }

                .grid_3-2 p {
                    font-size: 40%;
                    padding-top: 1rem;                
                }

                .grid_3-2 button {
                    font-size: 62%;
                    padding-inline: 2rem;
                    padding-block: 0.4rem;
                }

                .grid_3-2 small {
                    font-size: 50%;
                  
                }
                .grid_3-2_tekst {
                    padding-top: 2rem;
                }




/* --------------- Grid_3-3 --------------- */

    .grid_3-3 {
        background-image: url(../foto/03_ux/userexperience.webp);
        background-size: cover;
        height: 26rem;
        padding-top: 1rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        }    

.projekt_3_tekst {
margin-inline: 2rem;
padding: 2rem;
margin-block: 2rem;
text-align: center;
background-color: rgba(255, 255, 255, 0.945);
padding: 1rem;
}

.grid_3-3 h1{
    font-size: 300%;
}

.grid_3-3 h3{
    font-size: 80%;
}

.grid_3-3 p{
    font-size: 60%;
}

.grid_3-3 button{
    font-size: 62%;
    padding-inline: 2rem;
    padding-block: 0.7rem;
    margin-bottom: 3rem;
}




/* --------------- Grid_3-4 --------------- */
.grid_3-4 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1rem;
   margin-inline: 2rem;
   text-align: center;
}

       
.grid_3-4 button{
    font-size: 40%;
padding-inline: 1rem;
padding-block: 0.4rem;
    margin-bottom: 3rem;
}

.grid_3-4 img {
    width: 58%;
    margin-bottom: 1rem;
    }







    /* ------------------------ Min 500px ------------------------ */

@media (min-width: 500px) {
/* --------------- Grid_3-2 --------------- */

    .grid_3-2 h3 {
   font-size: 150%;
    
    }

    .grid_3-2 p {
        font-size: 70%;                
    }

    .grid_3-2 button {
        font-size: 100%;
    }

    .grid_3-2 small {
        font-size: 60%;
    }



/* --------------- Grid_3-3 --------------- */

    .grid_3-3 p{
        font-size: 70%;
        margin-inline: 3rem;
    }

    .grid_3-3 h1{
        font-size: 450%;
    }
    
    .grid_3-3 h3{
        font-size: 90%;
    }


/* --------------- Grid_3-4 --------------- */
    .grid_3-4 button{
        font-size: 57%;
    }
}









    /* ------------------------ Min 700px ------------------------ */

    @media (min-width: 700px) {
    

/* --------------- Grid_3-2 --------------- */
.grid_3-2 {
   
    margin-inline: 5rem;
   
    }

    .grid_3-2 h3 {
    font-size: 200%;
     
     }
 
     .grid_3-2 p {
         font-size: 83%;  
         padding-top: 2rem;              
     }
 
     .grid_3-2 button {
         font-size: 100%;
     }
 
     .grid_3-2 small {
        padding-top: 1rem;
         font-size: 80%;
         
     }
    




 /* --------------- Grid_3-3 --------------- */



     .grid_3-3 {
        height: 33rem;
        }    

.projekt_3_tekst {
margin-inline: 7rem;
margin-block: 5rem;
padding: 2rem;
}
     

.grid_3-3 button{
    font-size: 80%;
 
}


 /* --------------- Grid_3-4 --------------- */

        .grid_3-4 {
            gap: 2rem;
            margin-inline: 4rem;
            margin-bottom: 5rem;
         }

         .grid_3-4 img {
            width: 30%;
            margin-bottom: 1rem;
            }

        }




    /* ------------------------ Min 900px ------------------------ */


    @media (min-width: 900px) {


/* --------------- Grid_3-2 --------------- */
.grid_3-2 {
    margin-inline: 8rem;
    gap: 0;
   
    }

    .grid_3-2 h3 {
    font-size: 200%;
     
     }
 
     .grid_3-2 p {
         font-size: 83%;  
         padding-top: 2rem;              
     }
 
     .grid_3-2 button {
         font-size: 100%;
     }
 
     .grid_3-2 small {
        padding-top: 1rem;
        padding-bottom: 2rem;
         font-size: 80%;
         
     }
     .grid_3-2_tekst {
         padding-top: 6rem;
     }
    

     .col_3-3, .col_3-4, .col_3-5{
        gap: 9rem;
        }

        .grid_3-2 img {
            padding-top: 3.5rem;
            max-width: 30rem;
        }



     /* --------------- Grid_3-3 --------------- */



    .grid_3-3 p{
        font-size: 80%;
        margin-inline: 5rem;
    }


    .grid_3-3 button {
        font-size: 120%;
      }


      .grid_3-3 {
        height: 35rem;
        }    

        .projekt_3_tekst {
        margin-inline: 10rem;

        }
     /* --------------- Grid_3-4 --------------- */


        .grid_3-4 {
            gap: 3rem;
            margin-inline: 6rem;
         }
    }

    /* ------------------------ Min 1200px ------------------------ */

    @media (min-width: 1200px) {
             /* --------------- Grid_3-2 --------------- */

            .grid_3-2 {
                gap: 0;
                 margin-inline: 14rem;
                 }
    }
