/* ------------------------ Max 600px ------------------------ */


.webdesign_banner {
    background-color: #BC6F27;
    height: 25px;
    margin-bottom: 3rem;
}

.webdesign_banner_2 {
    background-color: #BC6F27;
    height: 15px;
    margin-bottom: 3rem;
}

button {
    background-color: #BC6F27;
}

/* ------------------------ Webdesign ------------------------ */
/* --------------- Grid_2-1 --------------- */



/* --------------- Grid_2-2 --------------- */



/* --------------- Grid_2-3 --------------- */
.grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 5rem;
}


/* --------------- Grid_2-4 --------------- */

.grid_2-4 button {
   margin-top: 10%;
   margin-bottom: 10%;
}

.grid_2-4 {
    margin-bottom: 5rem;
}


  /* --------------- Grid_2-5 --------------- */

  .grid_2-5 {
    background-color: #BC6F27; 
    display: block;
    padding: 1rem;
    text-align: center;
    margin: 0;
   
    }

    .galleri_1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .grid_2-5 button {
        background-color: transparent;
        border: white solid 2px;
    }



    /* ------------------------ Min 700px ------------------------ */

@media (min-width: 700px) {
    .grid_2-1 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1.5rem;
        margin-bottom: 5rem;
        }



        .grid_2-2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5rem;
        }


        .webdesign_banner {
            height: 50px;
        }

        .webdesign_banner_2 {
            height: 40px;
            margin-bottom: 5rem;
        }

        h4 {
            font-size: 350%;
          }


   .grid_2-5 button{
    font-size: 80%;
    padding-inline: 3.5rem;
   }



}